1. 기본 파이썬

In [2]:
import pandas as pd
import numpy as np

In [3]:
# 경고문 생략
import warnings
warnings.filterwarnings('ignore')

In [4]:
# 문자열 슬라이싱 - a [ index : index ]
a = "Life is too short, You need Python"
print(a)
print(len(a)) # 변수 길이 출력
print(a[10]) # 첫번째는 0 부터 시작
print(a[-1]) # 뒤에서 시작시 -1 부터 시작
print(a[-6])
print(a[29])
print(a[0:2])
print(a[-6:34])
print(a[-35:34])
print(a[4:]) # 뒷자리 공란은 마지막 인덱스를 의미
print(a[:9]) # 앞자리 공란은 첫번째 인덱스를 의미

Life is too short, You need Python
34
o
n
P
y
Li
Python
Life is too short, You need Python
 is too short, You need Python
Life is t

In [5]:
# 문자열 수정 - a.replace( ' b ' , ' c ' )
b = 'Hello World'
print(b)
b1 = b.replace('World', 'Korea')
print(b1)

Hello World
Hello Korea

In [6]:
# 공백 제거 - a.strip ( ) / a.rstrip ( ) / a.lstrip ( )
b = "    hi    "
print(b)
print(b.lstrip()) #문자열 왼쪽에 있는 공백을 제거
print(b.rstrip()) #문자열 오른쪽에 있는 공백을 제거
print(b.strip()) #문자열 양쪽에 있는 공백을 모두 제거

    hi
hi
    hi
hi

In [7]:
# 리스트 내용 추가
print('리스트 내용 추가 1 - append')
d = [1,2,3]
print(d)
d.append(4) # 괄호 안의 값을 리스트에 있는 그대로 추가
print(d)
d.append(b)
print(d)

print('\n리스트 내용 추가 2 - extend')
e = [1,2,3]
print(e)
e.extend([4])
# 참고 : 리스트값이 아닌 int값을 넣을 경우 에러발생
print(e)
e.extend(b) # 내부의 값을 작은 단위로 나눈 뒤 추가
print(e)

리스트 내용 추가 1 - append
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, '    hi    ']

리스트 내용 추가 2 - extend
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, ' ', ' ', ' ', ' ', 'h', 'i', ' ', ' ', ' ', ' ']

In [8]:
# f-string - print ( f ' 문자열 { 변수 } ')
# 문자열을 포멧팅하기 위한 방법 중 하나 (파이썬 3.6부터 추가됨)
print(f'나는 수박을 좋아합니다.')
x = 1
y = 'john'
print(f'{y}(은)는 사과 {x}개를 먹습니다.')
word = 'Python'
print(f'{word}(은)는 {len(word)}글자입니다.')
print(f'대문자로는 {word.upper()}이고, 소문자로는 {word.lower()}입니다.')

나는 수박을 좋아합니다.
john(은)는 사과 1개를 먹습니다.
Python(은)는 6글자입니다.
대문자로는 PYTHON이고, 소문자로는 python입니다.

In [9]:
# 정규표현식 - compile / match / search
import re  #RE : Regular Expression

# \d : 숫자와 매치, '[0-9]'와 동일
# \D : 숫자가 아닌 것과 매치, '[^0-9]'와 동일
# \s : whitespadce 문자와 매치, '[ \t\n\r\f\v]'와 동일 (띄워쓰기 포함)
# \S : whitespadce 문자가 아닌 것과 매치, '[^ \t\n\r\f\v]'와 동일 (띄워쓰기 포함)
# \w : 문자+숫자(alphanumeric)와 매치, '[a-zA-Z0-9]'와 동일
# \W : 문자+숫자(alphanumeric)가 아닌 것과 매치, '[^a-zA-Z0-9]'와 동일

p = re.compile('[a-z]+')  #p에 검색하고자 하는 정규표현식 입력
m = p.match('pytHon')  #문자열의 처음부터 정규식과 매치되는지 확인
print('p.match의 결과 \n', m ,'\n')
n = p.search('3 Hokkkkkkkkkn')  #문자열 전체를 정규식과 매치되는지 확인
print('p.search의 결과 \n',n)

p.match의 결과
 <re.Match object; span=(0, 3), match='pyt'>

p.search의 결과
 <re.Match object; span=(3, 14), match='okkkkkkkkkn'>

2. DataFrame

In [10]:
# 데이터프레임 (Type : DataFrame())
print('데이터프레임 만들기 1 - pd.DataFrame ( )')
df1 = pd.DataFrame() # 빈 데이터프레임
print(df1)

print('\n데이터프레임 만들기 2 - pd.DataFrame ( np.zeros ( ( a , b ) ) )')
df2 = pd.DataFrame(np.zeros((10,5))) # 0 값을 가지는 데이터프레임 (02_Basic_Python 참조)
print(df2)

print('\n데이터프레임 만들기 3 - pd.DataFrame({"컬럼명1" : [a], "컬럼명2" : [b]})')
df3 = pd.DataFrame({'column1':[0, 1, 1, 1, 1],
                    'column2':[5, 6, 7, 1, 9],
                    'column3':[10, 11, 12, 1, 14]}) # index = [ , , ]으로 인덱스 지정 가능
print(df3)

데이터프레임 만들기 1 - pd.DataFrame ( )
Empty DataFrame
Columns: []
Index: []

데이터프레임 만들기 2 - pd.DataFrame ( np.zeros ( ( a , b ) ) )
     0    1    2    3    4
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0
8  0.0  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  0.0

데이터프레임 만들기 3 - pd.DataFrame({"컬럼명1" : [a], "컬럼명2" : [b]})
   column1  column2  column3
0        0        5       10
1        1        6       11
2        1        7       12
3        1        1        1
4        1        9       14

(데이터 출력)

In [11]:
# 데이터프레임 출력
print('데이터프레임 상위 출력 - df.head ( ) ; 기본값 5행' )
print(df2.head())
print('\n데이터프레임 하위 출력 - df.tail ( ) ; 기본값 5행' )
print(df2.tail(2))
print('\n데이터프레임 랜덤 출력 - df.sample ( ) ; 기본값 5행' )
print(df2.sample(4))

데이터프레임 상위 출력 - df.head ( ) ; 기본값 5행
     0    1    2    3    4
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

데이터프레임 하위 출력 - df.tail ( ) ; 기본값 5행
     0    1    2    3    4
8  0.0  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  0.0

데이터프레임 랜덤 출력 - df.sample ( ) ; 기본값 5행
     0    1    2    3    4
4  0.0  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
8  0.0  0.0  0.0  0.0  0.0

In [12]:
# 데이터프레임 열 출력
print(df3)

print('\n데이터프레임 열 출력 1 (컬럼명) - df [ " 컬럼명 " ]')
print(df3['column1'])  # Series 타입으로으로 출력

print('\n데이터프레임 열 출력 2 (컬럼명) - df [ [ " 컬럼명 " ] ]')
print(df3[['column1']])  # Dataframe 타입으로 출력

print('\n데이터프레임 열 출력 3 (선택 열 제외) - df [ df.columns.difference ( [ " 컬럼명 " ] ) ]')
print(df3[df3.columns.difference(['column1'])].head(3))

   column1  column2  column3
0        0        5       10
1        1        6       11
2        1        7       12
3        1        1        1
4        1        9       14

데이터프레임 열 출력 1 (컬럼명) - df [ " 컬럼명 " ]
0    0
1    1
2    1
3    1
4    1
Name: column1, dtype: int64

데이터프레임 열 출력 2 (컬럼명) - df [ [ " 컬럼명 " ] ]
   column1
0        0
1        1
2        1
3        1
4        1

데이터프레임 열 출력 3 (선택 열 제외) - df [ df.columns.difference ( [ " 컬럼명 " ] ) ]
   column2  column3
0        5       10
1        6       11
2        7       12

In [13]:
# 데이터프레임 열 출력
print('데이터프레임 열 출력 4 - df.loc [ 행index , "컬럼명" ]')
ddd1 = df3.loc[2,'column2']
print(ddd1, ddd1.dtype)  # Series 타입으로 출력
print('======== 구분선 ========')
ddd2 = df3.loc[1:2,'column2']
print(ddd2, ddd2.dtype)  # ' index  int타입 '형태의 Series 타입으로 출력
print('======== 구분선 ========')
ddd3 = df3.loc[1:2,['column2','column3']] # Dataframe 타입으로 출력
print(ddd3)
print('======== 구분선 ========')
print(ddd3.info())

데이터프레임 열 출력 4 - df.loc [ 행index , "컬럼명" ]
7 int64
======== 구분선 ========
1    6
2    7
Name: column2, dtype: int64 int64
======== 구분선 ========
   column2  column3
1        6       11
2        7       12
======== 구분선 ========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 1 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column2  2 non-null      int64
 1   column3  2 non-null      int64
dtypes: int64(2)
memory usage: 164.0 bytes
None

In [14]:
print('\n데이터프레임 열 출력 5 - df.iloc [ 행index , 열index ]')
ddd1 = df3.iloc[2,1]
print(ddd1, ddd1.dtype)  # Series타입으로 출력
print('====== 구분선 ======')
ddd2 = df3.iloc[2:3,0:1]
print(ddd2.info())  # ' index  int타입 ' 형태로 출력

# 참고 : loc와 iloc의 차이
# loc  : 칼럼명을 직접 쓰거나 특정 조건식을 써줌으로써 사람이 읽기 좋은 방법으로 데이터에 접근
# iloc : 데이터의 위치(index)를 써줌으로써 컴퓨터가 읽기 좋은 방법으로 데이터에 접근

print('\n데이터프레임 열 출력 6 - df [ "컬럼명" ] [ index ]')
print(df3['column2'][2])
# 참고 : 데이터프레임 열 출력 6 방식은 잘 사용하지 않음.

데이터프레임 열 출력 5 - df.iloc [ 행index , 열index ]
7 int64
====== 구분선 ======
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 2 to 2
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  1 non-null      int64
dtypes: int64(1)
memory usage: 140.0 bytes
None

데이터프레임 열 출력 6 - df [ "컬럼명" ] [ index ]
7

In [15]:
# 데이터프레임 행 출력
print('데이터프레임 행 값 불러오기 - df[ index넘버 : index넘버 ] / df.loc [ 행index ] / df.iloc [ 행index ]')
print(df3[0:2])
print('======== 구분선 ========')
print(df3.loc[0])
# print(df3.iloc[0]) # 결과값은 위 코드 결과와 같음

print('\n데이터프레임 특정값 출력 - df.loc [ 행index , "컬럼명" ] / df.iloc [ 행index , 열index ]')
print(df3.loc[1,'column1'])
print('======== 구분선 ========')
print(df3.iloc[1,0])

데이터프레임 행 값 불러오기 - df[ index넘버 : index넘버 ] / df.loc [ 행index ] / df.iloc [ 행index ]
   column1  column2  column3
0        0        5       10
1        1        6       11
======== 구분선 ========
column1     0
column2     5
column3    10
Name: 0, dtype: int64

데이터프레임 특정값 출력 - df.loc [ 행index , "컬럼명" ] / df.iloc [ 행index , 열index ]
1
======== 구분선 ========
1

In [16]:
# 데이터프레임 조건문 입력
print('데이터프레임 조건 설정 후 출력 1 - df [ ( 조건식 ) ]')
print(df3[(df3['column2']>5)])

print('\n데이터프레임 조건 설정 후 출력 2 - df.loc [ ( 조건식 ) ]')
print(df3.loc[df3['column2'] > 5])

print('\n데이터프레임 정렬 - df.sort_values ( "컬럼명" , ascending=True )')
print(df3)
print('======== 구분선 ========')
print(df3.sort_values('column2', ascending=False))  # ascending=True 오름차순정렬
                                                    # ascending=False 내림차순정렬

데이터프레임 조건 설정 후 출력 1 - df [ ( 조건식 ) ]
   column1  column2  column3
1        1        6       11
2        1        7       12
4        1        9       14

데이터프레임 조건 설정 후 출력 2 - df.loc [ ( 조건식 ) ]
   column1  column2  column3
1        1        6       11
2        1        7       12
4        1        9       14

데이터프레임 정렬 - df.sort_values ( "컬럼명" , ascending=True )
   column1  column2  column3
0        0        5       10
1        1        6       11
2        1        7       12
3        1        1        1
4        1        9       14
======== 구분선 ========
   column1  column2  column3
4        1        9       14
2        1        7       12
1        1        6       11
0        0        5       10
3        1        1        1

In [17]:
# 데이터프레임 고유값
print('데이터프레임 고유값 카운트 - df [ " 컬럼명 " ].nunique()')
print(df3['column1'].nunique())

print('\n데이터프레임 고유값 출력 1 (중복값 제외) - df [ " 컬럼명 " ].unique()')
print(df3['column1'].unique())

print('\n데이터프레임 고유값 출력 2 (정렬) - sorted ( df [ " 컬럼명 " ].unique() )')
print(sorted(df3['column1'].unique()))

print('\n데이터프레임 고유값 출력 3 (중복값 카운트) - df [ " 컬럼명 " ].value_counts()')
print(df3['column1'].value_counts())

데이터프레임 고유값 카운트 - df [ " 컬럼명 " ].nunique()
2

데이터프레임 고유값 출력 1 (중복값 제외) - df [ " 컬럼명 " ].unique()
[0 1]

데이터프레임 고유값 출력 2 (정렬) - sorted ( df [ " 컬럼명 " ].unique() )
[0, 1]

데이터프레임 고유값 출력 3 (중복값 카운트) - df [ " 컬럼명 " ].value_counts()
1    4
0    1
Name: column1, dtype: int64

In [18]:
# 데이터프레임 문자열 추출
df4 = pd.DataFrame({'column1' : ['2023-01-01 01:00:00', '2023-01-01 02:00:00', '2023-01-01 03:00:00'],\
                    'column2' : ['2023-01-02 04:00:00', '2023-01-02 05:00:00', '2023-01-02 06:00:00']})
print(df4)

print('\n데이터프레임 열에서 문자열 추출 - df[ " 컬럼명 " ].str [ : ]')
print(df4['column1'].str[:10])  # 문자열 타입 열에서만 가능

print('\n데이터프레임 타입 출력 - df [ [ " 컬럼명1 " , " 컬럼명2 " ] ].dtypes')
print(df4[['column1','column2']].dtypes)  # 데이터프레임 타입 확인 시 사용
# 참고
# .dtype : Series타입 확인
# .dtypes : Dataframe타입 확인

               column1              column2
0  2023-01-01 01:00:00  2023-01-02 04:00:00
1  2023-01-01 02:00:00  2023-01-02 05:00:00
2  2023-01-01 03:00:00  2023-01-02 06:00:00

데이터프레임 열에서 문자열 추출 - df[ " 컬럼명 " ].str [ : ]
0    2023-01-01
1    2023-01-01
2    2023-01-01
Name: column1, dtype: object

데이터프레임 타입 출력 - df [ [ " 컬럼명1 " , " 컬럼명2 " ] ].dtypes
column1    object
column2    object
dtype: object

(데이터프레임 타입변경)

In [19]:
# 데이터프레임 합치기
print('데이터프레임 열 타입변경1 (int -> str) - df["컬럼명"].astype("str")')
print(df3.info())

df3['column1'] = df3['column1'].astype('str')
df3['column2'] = df3['column2'].astype('str')
print(f'{df3.info()}')

print('\n데이터프레임 열 타입변경2 (str -> int) - df["컬럼명"].astype("int")')
df3['column2'] = df3['column2'].astype('int')
print(f'{df3.info()}')

데이터프레임 열 타입변경1 (int -> str) - df["컬럼명"].astype("str")
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      int64
 1   column2  5 non-null      int64
 2   column3  5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      object
 1   column2  5 non-null      object
 2   column3  5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

데이터프레임 열 타입변경2 (str -> int) - df["컬럼명"].astype("int")
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      object
 1   column2  5 non-null      int32
 2   column3  5 non-null      int64
dtypes: int32(1), int64(1), object(1)
memory usage: 228.0+ bytes
None

In [20]:
# 데이터프레임 합치기
print('데이터프레임 열 타입변경3 (str -> datetime) - pd.to_datetime(df["컬럼명"])')
df3['column4'] = ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']
print(df3)
df3['column4'] = pd.to_datetime(df3['column4'])
print(df3.info())

print('\n데이터프레임 열 타입변경4 (datetime -> str) - df["컬럼명"] = pd.DatetimeIndex(df["컬럼명"])/.year/.month')
df3['column5'] = pd.DatetimeIndex(df3['column4']).year
print(df3)

데이터프레임 열 타입변경3 (str -> datetime) - pd.to_datetime(df["컬럼명"])
  column1  column2  column3     column4
0       0        5       10  2023-01-01
1       1        6       11  2023-01-02
2       1        7       12  2023-01-03
3       1        1        1  2023-01-04
4       1        9       14  2023-01-05
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      object
 1   column2  5 non-null      int32
 2   column3  5 non-null      int64
 3   column4  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 268.0+ bytes
None

데이터프레임 열 타입변경4 (datetime -> str) - df["컬럼명"] = pd.DatetimeIndex(df["컬럼명"])/.year/.month
  column1  column2  column3    column4  column5
0       0        5       10 2023-01-01     2023
1       1        6       11 2023-01-02     2023
2       1        7       12 2023-01-03     2023
3       1        1        1 2023-01-04     2023
4       1        9       14 2023-01-05     2023

(데이터 합치기)

In [21]:
# 데이터프레임 확인
print(df3.info())
df3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      object
 1   column2  5 non-null      int32
 2   column3  5 non-null      int64
 3   column4  5 non-null      datetime64[ns]
 4   column5  5 non-null      int64
dtypes: datetime64[ns](1), int32(1), int64(2), object(1)
memory usage: 308.0+ bytes
None

  column1  column2  column3    column4  column5
0       0        5       10 2023-01-01     2023
1       1        6       11 2023-01-02     2023
2       1        7       12 2023-01-03     2023
3       1        1        1 2023-01-04     2023
4       1        9       14 2023-01-05     2023

In [22]:
# 데이터프레임 확인
print(df4.info())
df4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  3 non-null      object
 1   column2  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
None

               column1              column2
0  2023-01-01 01:00:00  2023-01-02 04:00:00
1  2023-01-01 02:00:00  2023-01-02 05:00:00
2  2023-01-01 03:00:00  2023-01-02 06:00:00

In [23]:
# 데이터프레임 합치기 1
print('데이터프레임 합치기 1 - pd.concat ( [ df1, df2 ] )')  # 행방향(위,아래)으로 병합
df_concat1 = pd.concat([df3,df4], ignore_index=True)  # ignore_index=True : 인덱스 넘버 재배열
print(df_concat1)
                  
df_concat2 = pd.concat([df3,df4], axis=1)  # 열방향(좌,우)으로 병합
df_concat2.columns = ['column1','column2','column3','column4','column5','column6','column7']
print(f'\n{df_concat2}')

데이터프레임 합치기 1 - pd.concat ( [ df1, df2 ] )
               column1              column2  column3    column4  column5
0                    0                    5     10.0 2023-01-01   2023.0
1                    1                    6     11.0 2023-01-02   2023.0
2                    1                    7     12.0 2023-01-03   2023.0
3                    1                    1      1.0 2023-01-04   2023.0
4                    1                    9     14.0 2023-01-05   2023.0
5  2023-01-01 01:00:00  2023-01-02 04:00:00      NaN        NaT      NaN
6  2023-01-01 02:00:00  2023-01-02 05:00:00      NaN        NaT      NaN
7  2023-01-01 03:00:00  2023-01-02 06:00:00      NaN        NaT      NaN

  column1  column2  column3    column4  column5              column6  \
0       0        5       10 2023-01-01     2023  2023-01-01 01:00:00
1       1        6       11 2023-01-02     2023  2023-01-01 02:00:00
2       1        7       12 2023-01-03     2023  2023-01-01 03:00:00
3       1        1        1 2023-01-04     2023                  NaN
4       1        9       14 2023-01-05     2023                  NaN

               column7
0  2023-01-02 04:00:00
1  2023-01-02 05:00:00
2  2023-01-02 06:00:00
3                  NaN
4                  NaN

In [24]:
# 데이터프레임 합치기 2
print('데이터프레임 합치기 2 - pd.merge ( df1, df2, how="inner", on="컬럼명" )')  # 기본값
                                                                                # how : 합치는 방식
                                                                                # on : 기준이 되는 컬럼명
df_merge1 = pd.merge(df3, df_concat1, how='inner', on='column1')
print(df_merge1)

데이터프레임 합치기 2 - pd.merge ( df1, df2, how="inner", on="컬럼명" )
   column1  column2_x  column3_x  column4_x  column5_x column2_y  column3_y  \
0        0          5         10 2023-01-01       2023         5       10.0
1        1          6         11 2023-01-02       2023         6       11.0
2        1          6         11 2023-01-02       2023         7       12.0
3        1          6         11 2023-01-02       2023         1        1.0
4        1          6         11 2023-01-02       2023         9       14.0
5        1          7         12 2023-01-03       2023         6       11.0
6        1          7         12 2023-01-03       2023         7       12.0
7        1          7         12 2023-01-03       2023         1        1.0
8        1          7         12 2023-01-03       2023         9       14.0
9        1          1          1 2023-01-04       2023         6       11.0
10       1          1          1 2023-01-04       2023         7       12.0
11       1          1          1 2023-01-04       2023         1        1.0
12       1          1          1 2023-01-04       2023         9       14.0
13       1          9         14 2023-01-05       2023         6       11.0
14       1          9         14 2023-01-05       2023         7       12.0
15       1          9         14 2023-01-05       2023         1        1.0
16       1          9         14 2023-01-05       2023         9       14.0

    column4_y  column5_y
0  2023-01-01     2023.0
1  2023-01-02     2023.0
2  2023-01-03     2023.0
3  2023-01-04     2023.0
4  2023-01-05     2023.0
5  2023-01-02     2023.0
6  2023-01-03     2023.0
7  2023-01-04     2023.0
8  2023-01-05     2023.0
9  2023-01-02     2023.0
10 2023-01-03     2023.0
11 2023-01-04     2023.0
12 2023-01-05     2023.0
13 2023-01-02     2023.0
14 2023-01-03     2023.0
15 2023-01-04     2023.0
16 2023-01-05     2023.0

In [25]:
# 데이터프레임 합치기 2
print('데이터프레임 합치기 2 - pd.merge ( df1, df2, how="left", on="컬럼명" )')  # 기본값
df_merge2 = pd.merge(df3, df_concat1, how='left', left_on='column1', right_on='column2')
print(df_merge2)

데이터프레임 합치기 2 - pd.merge ( df1, df2, how="left", on="컬럼명" )
  column1_x  column2_x  column3_x  column4_x  column5_x column1_y column2_y  \
0         0          5         10 2023-01-01       2023       NaN       NaN
1         1          6         11 2023-01-02       2023       NaN       NaN
2         1          7         12 2023-01-03       2023       NaN       NaN
3         1          1          1 2023-01-04       2023       NaN       NaN
4         1          9         14 2023-01-05       2023       NaN       NaN

   column3_y column4_y  column5_y
0        NaN       NaT        NaN
1        NaN       NaT        NaN
2        NaN       NaT        NaN
3        NaN       NaT        NaN
4        NaN       NaT        NaN

In [26]:
# 데이터프레임 간 데이터 비교  (merge 활용)
ddd1 = pd.DataFrame({"date" : ['2021-01-01 16:00:00', '2021-01-01 17:00:00','2021-01-01 17:00:00','2021-01-03 01:00:00','2021-01-03 10:00:00'],\
                     "price" : [100,200,300,400,500]})
ddd2 = pd.DataFrame({"date" : ['2021-01-01 16:00:00','2021-01-02 10:00:00','2021-01-03 10:00:00'],\
                     "item" : ['apple','pen','case']})
print(ddd1)
print('\n==============구분선==============')
print(ddd2)
print('\n==============구분선==============')

# 데이터프레임 간 데이터 비교 1 - set(df1["컬럼명"].unique()) - set(df2["date"].unique())
print(set(ddd1['date'].unique()) - set(ddd2['date'].unique()))  # 포함하는 중복값을 모두 제거하고 ddd1만 가지고 있는 값만 출력함

# 데이터프레임 간 데이터 비교 2 - pd.merge(df1, df2, how='outer', indicator=True)
ddd3 = pd.merge(ddd1, ddd2, how='outer', indicator=True)
print(ddd3)
print('\n==============구분선==============')
print(ddd3[ddd3['_merge']=='left_only'].index)  # ddd1에만 있는 값의 인덱스 확인 가능

                  date  price
0  2021-01-01 16:00:00    100
1  2021-01-01 17:00:00    200
2  2021-01-01 17:00:00    300
3  2021-01-03 01:00:00    400
4  2021-01-03 10:00:00    500

==============구분선==============
                  date   item
0  2021-01-01 16:00:00  apple
1  2021-01-02 10:00:00    pen
2  2021-01-03 10:00:00   case

==============구분선==============
{'2021-01-01 17:00:00', '2021-01-03 01:00:00'}
                  date  price   item      _merge
0  2021-01-01 16:00:00  100.0  apple        both
1  2021-01-01 17:00:00  200.0    NaN   left_only
2  2021-01-01 17:00:00  300.0    NaN   left_only
3  2021-01-03 01:00:00  400.0    NaN   left_only
4  2021-01-03 10:00:00  500.0   case        both
5  2021-01-02 10:00:00    NaN    pen  right_only

==============구분선==============
Int64Index([1, 2, 3], dtype='int64')

In [27]:
###################################################################

In [32]:
# 데이터프레임 행 삭제
print(df3)
print('\n데이터프레임 행 삭제 1 (행넘버) - df.drop( index = [ 0, 1, ... ] )')
print(df3.drop(index = [1,2])) # 2,3번째 행 삭제
print('\n데이터프레임 특정 조건을 만족하는 행만 생성 - df [ df [ "column명" ] == "value" ] ')
print(df3[df3['column1'] == 0]) # colum1의 value값이 0인 행만 출력 (나머지 행 제외)

# 데이터프레임 열 삭제
print('\n데이터프레임 열 삭제 - df.drop( [" column명 "], axis = 1 ) ')
print(df3.drop(['column2'], axis = 1))

  column1  column2  column3    column4  column5
0       0        3       10 2023-01-01     2023
1       1        6       11 2023-01-02     2023
2       1        7       12 2023-01-03     2023
3       1       55       33 2023-01-04     2023
4       1        9       14 2023-01-05     2023

데이터프레임 행 삭제 1 (행넘버) - df.drop( index = [ 0, 1, ... ] )
  column1  column2  column3    column4  column5
0       0        3       10 2023-01-01     2023
3       1       55       33 2023-01-04     2023
4       1        9       14 2023-01-05     2023

데이터프레임 특정 조건을 만족하는 행만 생성 - df [ df [ "column명" ] == "value" ]
Empty DataFrame
Columns: [column1, column2, column3, column4, column5]
Index: []

데이터프레임 열 삭제 - df.drop( [" column명 "], axis = 1 )
  column1  column3    column4  column5
0       0       10 2023-01-01     2023
1       1       11 2023-01-02     2023
2       1       12 2023-01-03     2023
3       1       33 2023-01-04     2023
4       1       14 2023-01-05     2023

In [29]:
# 데이터프레임 특정 값 수정
print('데이터프레임 값 변경 - df.replace')
df3.replace(1, 33, inplace=True) # 데이터프레임에 있는 모든 1을 33으로 변경
print(df3)
df3.replace({'column1':33}, 1, inplace=True) # 데이터프레임 특정 컬럼에 있는 모든 1을 33으로 변경
print(df3)
df3.replace({'column1':1, 'column2':33}, 55, inplace=True) # 다수의 column 선택 가능
print(df3)
df3.replace({'column1':{55:3}, 'column2':{5:3}}, inplace=True) # 각각의 column에 각각 변경값 설정 가능
print(df3)

데이터프레임 값 변경 - df.replace
  column1  column2  column3    column4  column5
0       0        5       10 2023-01-01     2023
1       1        6       11 2023-01-02     2023
2       1        7       12 2023-01-03     2023
3       1       33       33 2023-01-04     2023
4       1        9       14 2023-01-05     2023
  column1  column2  column3    column4  column5
0       0        5       10 2023-01-01     2023
1       1        6       11 2023-01-02     2023
2       1        7       12 2023-01-03     2023
3       1       33       33 2023-01-04     2023
4       1        9       14 2023-01-05     2023
  column1  column2  column3    column4  column5
0       0        5       10 2023-01-01     2023
1       1        6       11 2023-01-02     2023
2       1        7       12 2023-01-03     2023
3       1       55       33 2023-01-04     2023
4       1        9       14 2023-01-05     2023
  column1  column2  column3    column4  column5
0       0        3       10 2023-01-01     2023
1       1        6       11 2023-01-02     2023
2       1        7       12 2023-01-03     2023
3       1       55       33 2023-01-04     2023
4       1        9       14 2023-01-05     2023

In [30]:
# 데이터프레임 조건 설정
print("데이터프레임 조건에 따라 불러오기 - df[ ( 조건식 ) ]")
df4 = df3[(df3['column1'] == 0) | (df3['column2'] == 7)] # df[ ] 활용
print(df4)
df5 = df3.loc[df3['column1'] <= 5, 'column1':'column2'] # loc 활용
print(df5)
df6 = df3.iloc[0:4,0:3] # iloc 활용
print(df6)

데이터프레임 조건에 따라 불러오기 - df[ ( 조건식 ) ]
  column1  column2  column3    column4  column5
2       1        7       12 2023-01-03     2023

TypeError: '<=' not supported between instances of 'str' and 'int'

In [ ]:
# column명 변경
print('column명 바꾸기 - df.rename ( columns = { "before1" : "after1" , "before2" : "after2", ... } )')
print('column명 변경 전')
print(df6)
print('\ncolumn명 변경 후')
df6.rename(columns = {'column1' : '항목1',
                      'column2' : '항목2',
                      'column3' : '항목3'}, inplace = True)
print(df6)

print('\ncolumn명 한번에 모두 바꾸기 - df.columns = [ "name1" , "name2"  ... ]')
df6.columns = ['Category1', 'Category2', 'Category3']
print(df6)

print('\ncolumn명 이름 조회 - df.columns')
print(df6.columns)

print('\n첫 번째 행을 column으로 지정 - df.rename( columns = df.iloc[0] )')
print(df6.rename(columns = df6.iloc[0]))

column명 바꾸기 - df.rename ( columns = { "before1" : "after1" , "before2" : "after2", ... } )
column명 변경 전
   column1  column2  column3
0        0        3       10
1        3        6       11
2        3        7       12
3        3       55       33

column명 변경 후
   항목1  항목2  항목3
0    0    3   10
1    3    6   11
2    3    7   12
3    3   55   33

column명 한번에 모두 바꾸기 - df.columns = [ "name1" , "name2"  ... ]
   Category1  Category2  Category3
0          0          3         10
1          3          6         11
2          3          7         12
3          3         55         33

column명 이름 조회 - df.columns
Index(['Category1', 'Category2', 'Category3'], dtype='object')

첫 번째 행을 column으로 지정 - df.rename( columns = df.iloc[0] )
   0   3   10
0   0   3  10
1   3   6  11
2   3   7  12
3   3  55  33

In [ ]:
# 데이터프레임 정렬 - df.sort_values( )
print('데이터프레임 정렬 - df.sort_values( "column명" , ascending=True )')
print('변경 전')
print(df6)
print('\n변경 후')
print(df6.sort_values('Category3', ascending=False))

데이터프레임 정렬 - df.sort_values( "column명" , ascending=True )
변경 전
   Category1  Category2  Category3
0          0          3         10
1          3          6         11
2          3          7         12
3          3         55         33

변경 후
   Category1  Category2  Category3
3          3         55         33
2          3          7         12
1          3          6         11
0          0          3         10

In [ ]:
# 데이터프레임
print('\n행 개수 출력 - len ( df ) / df.shape[0] / len(df.index)')
print(len(df3))
print(df3.shape[0]) # df.shape는 df의 ( row 수 , column 수 )를 출력한다.
print(len(df3.index)) # df.index는 df의 index 값을 모두 출력한다.

print('\n열 개수 출력 - df.shape[1] / len(df.columns)')
print(df3.shape[1])
print(len(df3.columns)) # df.shape는 df의 columns 값을 모두 출력한다.

print('\n결측값이 아닌 행 개수 출력 - df.count ( )')
print(df3.count())

행 개수 출력 - len ( df ) / df.shape[0] / len(df.index)
5
5
5

열 개수 출력 - df.shape[1] / len(df.columns)
3
3

결측값이 아닌 행 개수 출력 - df.count ( )
column1    5
column2    5
column3    5
dtype: int64

In [ ]:
# 결측값을 포함하는 데이터프레임 생성
df4 = df3
df4['column1'][2] = None
df4['column2'][0] = None
df4['column2'][2] = None
df4['column2'][3] = None
df4['column3'][4] = None
print(df4)

# 결측치 확인
print('\n결측값 확인 - df.isnull')
print(df4.isnull()) # True = Null
print(df4.isnull().sum()) # Null값 총계 표시

# 결측치 정렬
print('\n데이터프레임 결측치 정렬 - df.isnull().mean().sort_values(ascending=False)')
print(df4.isnull().mean().\
      sort_values(ascending=False))

   column1  column2  column3
0      0.0      NaN     10.0
1      3.0      6.0     11.0
2      NaN      NaN     12.0
3      3.0      NaN     33.0
4      3.0      9.0      NaN

결측값 확인 - df.isnull
   column1  column2  column3
0    False     True    False
1    False    False    False
2     True     True    False
3    False     True    False
4    False    False     True
column1    1
column2    3
column3    1
dtype: int64

데이터프레임 결측치 정렬 - df.isnull().mean().sort_values(ascending=False)
column2    0.6
column1    0.2
column3    0.2
dtype: float64

In [ ]:
# 결측치 제거
print('결측값이 있는 행 제거 - df.dropna( axis = 0 )')
print(df4.dropna(axis = 0))

print('\n결측값이 있는 열 제거 - df.dropna( axis = 1 )')
print(df4.dropna(axis = 1))

결측값이 있는 행 제거 - df.dropna( axis = 0 )
   column1  column2  column3
1      3.0      6.0     11.0

결측값이 있는 열 제거 - df.dropna( axis = 1 )
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
# 결측치 치환 1
print('결측값을 특정 값으로 대치 - df.fillna( 특정값 )')
print(df4.fillna(0)) # 결측값을 0으로 치환
print('-----------------------------')
print(df4.fillna('missing')) # 결측값을 missing 단어로 치환

print('\n결측값을 앞 방향으로 채우기 - df.fillna(method = "ffill" or "pad")')
print(df4.fillna(method = 'ffill'))
# print(df4.fillna(method = 'pad')) # 결과값은 위의 코드와 같음

결측값을 특정 값으로 대치 - df.fillna( 특정값 )
   column1  column2  column3
0      0.0      0.0     10.0
1      3.0      6.0     11.0
2      0.0      0.0     12.0
3      3.0      0.0     33.0
4      3.0      9.0      0.0
-----------------------------
   column1  column2  column3
0      0.0  missing     10.0
1      3.0      6.0     11.0
2  missing  missing     12.0
3      3.0  missing     33.0
4      3.0      9.0  missing

결측값을 앞 방향으로 채우기 - df.fillna(method = "ffill" or "pad")
   column1  column2  column3
0      0.0      NaN     10.0
1      3.0      6.0     11.0
2      3.0      6.0     12.0
3      3.0      6.0     33.0
4      3.0      9.0     33.0

In [ ]:
# 결측치 치환 2
print('결측값을 뒷 방향으로 채우기 - df.fillna(method = "bfill" or "backfill")')
print(df4.fillna(method = 'bfill'))
# print(df4.fillna(method = 'backfill')) # 결과값은 위의 코드와 같음

# 결측치 치환 응용
print('\n특정 column의 결측치 치환 - np.where() & pd.notnull()')
df5 = df4
df5['column2'] = np.where(pd.notnull(df5['column2']) == True, df5['column2'], 20)
print(df5) # column2의 결측치가 20으로 치환됨

결측값을 뒷 방향으로 채우기 - df.fillna(method = "bfill" or "backfill")
   column1  column2  column3
0      0.0      6.0     10.0
1      3.0      6.0     11.0
2      3.0      9.0     12.0
3      3.0      9.0     33.0
4      3.0      9.0      NaN

특정 column의 결측치 치환 - np.where() & pd.notnull()
   column1  column2  column3
0      0.0     20.0     10.0
1      3.0      6.0     11.0
2      NaN     20.0     12.0
3      3.0     20.0     33.0
4      3.0      9.0      NaN

In [ ]:
# value값 확인
print('특정 column에서 고유값 확인(중복값 카운트) - df[ " column명 " ].value_counts()')
print(df5['column2'].value_counts())

print('\n특정 column에서 고유값 확인1 (중복 제거) - df[ " column명 " ].unique()')
print(df5['column2'].unique())

print('\n특정 column에서 고유값 확인2 (정렬) - sorted( df[ " column명 " ].unique() )')
print(df5['column2'].unique())

print('\n특정 column에서 고유값 수 확인 - df[ " column명 " ].nunique()')
print(df5['column2'].nunique())

특정 column에서 고유값 확인(중복값 카운트) - df[ " column명 " ].value_counts()
20.0    3
6.0     1
9.0     1
Name: column2, dtype: int64

특정 column에서 고유값 확인1 (중복 제거) - df[ " column명 " ].unique()
[20.  6.  9.]

특정 column에서 고유값 확인2 (정렬) - sorted( df[ " column명 " ].unique() )
[20.  6.  9.]

특정 column에서 고유값 수 확인 - df[ " column명 " ].nunique()
3

In [ ]:
# 타입변경
df6 = pd.DataFrame({ 'date' : ['2022-01-01', '2022-01-02',\
                                             '2022-01-03']})
print(df6)

print('\n데이터프레임 열 타입변경1 (str -> datetime) - pd.to_datetime(df["컬럼명"])')
print(pd.to_datetime(df6['date']))

print('\n데이터프레임 열 타입변경2 (datetime -> str) - df["컬럼명"] = pd.DatetimeIndex(df["컬럼명"])/.year/.month')
df6['date_str'] = pd.DatetimeIndex(df6['date'])
print(df6)
df6['year'] = pd.DatetimeIndex(df6['date']).year
print(df6)

print('\n데이터프레임 열 타입변경3 (str -> int) - df["컬럼명"].astype("타입명")')
print(df6["year"].astype("int"))

         date
0  2022-01-01
1  2022-01-02
2  2022-01-03

데이터프레임 열 타입변경1 (str -> datetime) - pd.to_datetime(df["컬럼명"])
0   2022-01-01
1   2022-01-02
2   2022-01-03
Name: date, dtype: datetime64[ns]

데이터프레임 열 타입변경2 (datetime -> str) - df["컬럼명"] = pd.DatetimeIndex(df["컬럼명"])/.year/.month
         date   date_str
0  2022-01-01 2022-01-01
1  2022-01-02 2022-01-02
2  2022-01-03 2022-01-03
         date   date_str  year
0  2022-01-01 2022-01-01  2022
1  2022-01-02 2022-01-02  2022
2  2022-01-03 2022-01-03  2022

데이터프레임 열 타입변경3 (str -> int) - df["컬럼명"].astype("타입명")
0    2022
1    2022
2    2022
Name: year, dtype: int32

In [ ]:
# 데이터프레임 for문 활용
print('\nfor문 활용')
for i in df5.columns :
  categories = df5[i].unique()
  print(f'[{i}] ({len(categories)})')

for문 활용
[column1] (3)
[column2] (3)
[column3] (5)

In [ ]:
# 조건문
print('조건문 활용1 - df.loc[( 조건식 )] [ [ "컬럼명1", "컬럼명2" ] ]')
print(df6)
df7 = df6.loc[(df6['date'].str[:4]) == '2022'][['date_str','year']]
print(f'\n{df7}')

조건문 활용1 - df.loc[( 조건식 )] [ [ "컬럼명1", "컬럼명2" ] ]
         date   date_str  year
0  2022-01-01 2022-01-01  2022
1  2022-01-02 2022-01-02  2022
2  2022-01-03 2022-01-03  2022

    date_str  year
0 2022-01-01  2022
1 2022-01-02  2022
2 2022-01-03  2022

3. Series

In [ ]:
# 시리즈 (Type : Series())
print('시리즈 만들기 - pd.Series()')
s1 = pd.Series() # 빈 시리즈
print(s1)
s2 = pd.Series([0, 1, 2, 3, 4]) # 직접 값을 입력하여 시리즈 만들기
print(s2)

# 시리즈 값 변경
print('\n시리즈 값 변경 - s [ ] / s.replace( 위치, 변경값, inplace=True )')
s2[3] = 99
print(s2)
s2.replace(0, 500) # 값은 변경되나 s2에 저장되지 않음
print(s2)
s2.replace(0, 500, inplace=True)
print(s2)

시리즈 만들기 - pd.Series()
Series([], dtype: float64)
0    0
1    1
2    2
3    3
4    4
dtype: int64

시리즈 값 변경 - s [ ] / s.replace( 위치, 변경값, inplace=True )
0     0
1     1
2     2
3    99
4     4
dtype: int64
0     0
1     1
2     2
3    99
4     4
dtype: int64
0    500
1      1
2      2
3     99
4      4
dtype: int64

In [ ]:
# 시리즈 값 변경
print('시리즈 여러값을 한번에 변경 - s.replace([변경 전 값], [변경 후 값]') # 변경 전 값은 인덱스넘버가 아님
s2.replace([2, 3, 4], [20, 21, 22], inplace=True)
print(s2)

# 시리즈 행 개수 출력 - len ( s )
print('\n시리즈 행 개수 출력 - len ( s ) / s.size / len(s.index)')
print(len(s2))
print(s2.size)  # df.shape는 df의 ( row 수 , column 수 )를 출력한다.
print(len(s2.index)) # df.index는 df의 index 값을 모두 출력한다.

# 시리즈는 데이터프레임과 다르게 columns이 없다
print('\n결측값이 아닌 행 개수 출력 - s.count ( )')
print(s2.count())

시리즈 여러값을 한번에 변경 - s.replace([변경 전 값], [변경 후 값]
0    500
1      1
2     20
3     99
4     22
dtype: int64

시리즈 행 개수 출력 - len ( s ) / s.size / len(s.index)
5
5
5

결측값이 아닌 행 개수 출력 - s.count ( )
5