1. 기타

In [36]:
# print 안에서 변수 설정
wo = "맛있는"
print("나는 %s 사과를 먹었다."%wo) # 문자열 변수를 print 안에 적용
print("나는 %s 사과를 먹었다." %'맛있는') # 다른 표현 방법 1
print("나는 {} 사과를 먹었다.\n".format('맛있는')) # 다른 표현 방법 2

count = 98
print("Error is %d %%."%count) # 숫자 변수를 print 안에 적용
print("Error is %d %%." % 98) # 다른 표현 방법 1 (""안에서 '%변수'사용 후 '%'를 표현하기 위해서 '%%'를 사용)
print("Error is {} %.\n".format(98)) # 다른 표현 방법 2

number = 10
day = "there"
print ("I ate %d apples. so I was sick for %s days."%(number, day)) # 문자열, 숫자 모두 사용 (순서 중요)
print ("I ate "+str(number)+" apples. so I was sick for "+day+" days.") # 다른 표현 방법 1
# 참고 : print 안은 문자열로 구성되어있기에 숫자변수(number)를 표현할때는 str으로 타입전환을 해야 출력됨
print ("I ate {} apples. so I was sick for {} days.".format(10, 'there')) # 다른 표현 방법 2
# 참고 : 위 문장에서 format에 변수를 하나만 입력할 경우 오류 발생
# format 안의 값은 하나밖에 없는데 지정되지 않은 두 개의 값을 출력하라는 명령어에 오류가 발생함
print ("I ate {1} apples. so I was sick for {0} days.".format('there', 10)) # 다른 표현 방법 3
print ("I ate {} apples. so I was sick for {day} days.\n".format(10, day= 'there')) # 다른 표현 방법 4

나는 맛있는 사과를 먹었다.
나는 맛있는 사과를 먹었다.
나는 맛있는 사과를 먹었다.

Error is 98 %.
Error is 98 %.
Error is 98 %.

I ate 10 apples. so I was sick for there days.
I ate 10 apples. so I was sick for there days.
I ate 10 apples. so I was sick for there days.
I ate 10 apples. so I was sick for there days.
I ate 10 apples. so I was sick for there days.

In [22]:
# 띄어쓰기
print("%15s"%"ee")
print("%-15s"%"ee")
print("%-10sjane."%"hi")

             ee
ee
hi        jane.

In [45]:
# 문자열 인덱싱
a = "Life is to short"
print(a.count('b')) # 문자열 중 'b'의 갯수를 출력
print(a.count('i')) # 문자열 중 'i'의 갯수를 출력
print(a.index('t')) # 문자열 중 't'가 가장 처음으로 나온 위치값 출력 (없으면 오류 발생)
print(a.index('L')) # 문자열":ㅖ*(&ㅒㅠㅎ ) 중 'L'이 가장 처음으로 나온 위치값 출력

0
2
8
0

In [3]:
# 리스트 사용
list = ['a', 'b', 'c', 'd']
result1 = "#".join(list)
result2 = "$".join(['e','f','g','f'])
print(result1)
print(result2)

a#b#c#d
e$f$g$f